<section class="listing-area col-md-12 tips-section">
    <div class="listing-holder row">
        <h2 class="high-rank-title">{{ 'home.high.rank.section.header'|trans({}, 'cocorico_listing') }}</h2>
        <!-- post -->
        <div class="slider-secondary">
            <div class="slider-clip">
                <ul class="slides">
                    {%- for listingTmp in listings -%}
                        {% set listing = listingTmp[0] %}
                        {% set listing_category_counter = 0 %}
                        {% set listing_translation = listing.translations[app.request.locale] %}
                        {% set listing_location = listing.location %}
                        {% set listing_user = listing.user %}
                        {% set price = (listing.price / 100) | format_price(app.request.locale, 0) %}
                        {% set listing_image = listing.images|length ? listing.images[0].name : ListingImageConstants.IMAGE_DEFAULT %}

                        <article class="listing-post col-sm-4 col-xs-12">
                            <div class="listing-content">
                                <a href="javascript:void(0)" id="favourite-{{ listing.id }}" class="favourit">
                                    <i class="icon-heart"></i>
                                    <span class="hidden">favourit</span>
                                </a>
                                <a href="{{ path('cocorico_listing_show', { 'slug': listing_translation.slug }) }}"
                                   class="listing-box">
                                    <div class="frame">
                                        <div class="post-info">

                                            <div class="img-holder">
                                                <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~  listing_image) | imagine_filter('listing_large') }}"
                                                     alt="{{ listing_translation.title ~ " " ~ price }}"/>
                                            </div>

                                            <div class="box">
                                                <div class="box-holder">
                                                    <div class="head">
                                                        <!--
                                                        <div class="time-price">
                                                            <strong class="price">{{ price }}</strong>

                                                            <p>
                                                                {{ vatInclusionText(app.request.getLocale()) }}
                                                                / {{ (0)|add_time_unit_text }}
                                                            </p>
                                                        </div>
                                                         -->
                                                    </div>
                                                    <div class="foot">
                                                        <div class="area">
                                                            <!-- rating -->
                                                            {% if listing.averageRating %}
                                                                {{ listing.averageRating | cocorico_star_rating }}
                                                                <span class="home-comment-counter">({{ listing.commentCount }})</span>
                                                            {% endif %}
                                                            {% if  listing.certified %}
                                                                <span class="certified">
                                                                    <i class="icon-ok"></i>
                                                                    {{ 'listing.search.result.certified'|trans({}, 'cocorico_listing') }}
                                                                </span>
                                                            {% endif %}
                                                        </div>

                                                        <!-- Counting listings -->
                                                        {% for listingListingCategory in listing.listingListingCategories %}
                                                            {% set listing_category_counter = listing_category_counter +1 %}
                                                            <!--
                                                            {% if listingListingCategory.category.translations[app.request.locale].name == "Service request"
                                                                or listingListingCategory.category.translations[app.request.locale].name == "Demande de service" %}
                                                                <strong class="title list-comma" style="background: rgb(63, 193, 201); color: white;">
                                                                    <span>{{ listingListingCategory.category.translations[app.request.locale].name }}</span>
                                                                </strong>
                                                            {% endif %}
                                                             -->
                                                        {% endfor %}




                                                        {% for listingListingCategory in listing.listingListingCategories|slice(0,2) %}
                                                            {% if listingListingCategory.category.translations[app.request.locale].name == "Service request"
                                                                or listingListingCategory.category.translations[app.request.locale].name == "Demande de service" %}
                                                                <strong class="title list-comma"
                                                                        style="background: rgb(63, 193, 201); color: white;">
                                                                    <span>{{ listingListingCategory.category.translations[app.request.locale].name }}</span>
                                                                </strong>

                                                            {% else %}
                                                                <strong class="title list-comma">
                                                                    <span>{{ listingListingCategory.category.translations[app.request.locale].name }}</span>
                                                                </strong>
                                                            {% endif %}
                                                        {% endfor %}

                                                        {% if listing_category_counter > 1 and listing_category_counter != 2 %}
                                                            <strong class="title list-comma">
                                                                <span>+{{ listing_category_counter -2 }}</span>
                                                            </strong>
                                                        {% endif %}

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="post-content">
                                            {% set image_user = listing_user.images|length ? listing_user.images[0].name : UserImageConstants.IMAGE_DEFAULT %}
                                            <div class="alignleft">
                                                <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ image_user) | imagine_filter('user_xsmall') }}"
                                                     alt="{{ listing_user.firstName }}"/>
                                                <h6 style="margin: 52px 0 5px 2px; font-weight: 600; text-align: center;
                                                            color: #7f838b;">
                                                    {{ listing_location.city }}
                                                </h6>
                                            </div>
                                            <div class="textbox">
                                                <p style=" margin-left: 2px; font-weight: 400;
                                                font-size: 18px;">
                                                    {{ listing_translation.title }}
                                                </p>

                                                <h3 style="color: rgb(63, 193, 201); margin: 2px 0 0; font-weight: 300;">
                                                    {{ price }}
                                                </h3>
                                                <h6 style="margin: 0 0 5px 2px; font-weight: 600;">
                                                    {{ vatInclusionText(app.request.getLocale()) }}
                                                    / {{ (0)|add_time_unit_text }}
                                                </h6>


                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </article>

                    {%- endfor -%}
                </ul>

            </div>{# slider-clip #}
            <div class="slider-secondary-actions">
                <a href="#" class="slider-prev">Previous Slide</a>

                <a href="#" class="slider-next">Next Slide</a>
            </div>

            <div class="slider-secondary-paging"></div>
        </div>
    </div>
</section>